{% extends "main/layout.html" %}
{% block body %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Machine Learning</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{url_for('static',filename='assets/img/portfolio/portfolio-2.jpg')}}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{url_for('static',filename='assets/img/portfolio/portfolio-5.jpg')}}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{url_for('static',filename='assets/img/portfolio/portfolio-8.jpg')}}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          {% if value == "/ML-1" %}
          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Machine Learning</li>
                <li><strong>Client</strong>: XYZ Company</li>
                <li><strong>Project date</strong>: 01 March, 2023</li>
                <li><strong>Project URL</strong>: <a href="https://github.com/himanshumahajan138" target="_blank" rel="noreferrer noopener">Machine Learning</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is a Machine Learning Project</h2>
              <p>
                This project will employ machine learning techniques to develop an automated disease detection system that 
                can analyze patient data and accurately predict the presence or absence of various diseases. 
                The successful implementation of this system has the potential to revolutionize the healthcare 
                industry by improving diagnostic accuracy, reducing human error, and making healthcare more accessible to underserved populations. 
                By leveraging the power of machine learning, this project aims to contribute to the advancement of healthcare technology and positively impact patient outcomes.
              </p>
            </div>
          </div>
          {% elif value == "/ML-2" %}
          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Machine Learning</li>
                <li><strong>Client</strong>: XYZ Company</li>
                <li><strong>Project date</strong>: 01 March, 2023</li>
                <li><strong>Project URL</strong>: <a href="https://github.com/himanshumahajan138" target="_blank" rel="noreferrer noopener">Machine Learning</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is a Machine Learning Project</h2>
              <p>
                This project will employ machine learning techniques to develop an automated disease detection system that 
                can analyze patient data and accurately predict the presence or absence of various diseases. 
                The successful implementation of this system has the potential to revolutionize the healthcare 
                industry by improving diagnostic accuracy, reducing human error, and making healthcare more accessible to underserved populations. 
                By leveraging the power of machine learning, this project aims to contribute to the advancement of healthcare technology and positively impact patient outcomes.
              </p>
            </div>
          </div>
          {% elif value == "/ML-3" %}
          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Machine Learning</li>
                <li><strong>Client</strong>: XYZ Company</li>
                <li><strong>Project date</strong>: 01 March, 2023</li>
                <li><strong>Project URL</strong>: <a href="https://github.com/himanshumahajan138" target="_blank" rel="noreferrer noopener">Machine Learning</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is a Machine Learning Project</h2>
              <p>
                This project will employ machine learning techniques to develop an automated disease detection system that 
                can analyze patient data and accurately predict the presence or absence of various diseases. 
                The successful implementation of this system has the potential to revolutionize the healthcare 
                industry by improving diagnostic accuracy, reducing human error, and making healthcare more accessible to underserved populations. 
                By leveraging the power of machine learning, this project aims to contribute to the advancement of healthcare technology and positively impact patient outcomes.
              </p>
            </div>
          </div>
          {% endif %}

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
{% endblock %}