{% extends "main/layout.html" %}
{% block body %}
<style>
    .card {
        margin-bottom: 30px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    }

    .card-title {
        padding: 20px 0 15px 0;
        font-size: 18px;
        font-weight: 500;
        color: #012970;
        font-family: "Poppins", sans-serif;
    }

    .card-body {
        padding: 0 20px 20px 20px;
    }
</style>

<main id="main">
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                    <p class="text-center small">Enter your personal details to create account</p>
                                </div>

                                <form class="row g-3 needs-validation" action="/Register" role="form" method="post">
                                    <div class="col-12">
                                        <label for="yourName" class="form-label">Your Name</label>
                                        {% if value!=None %}
                                        <input type="text" name="name" class="form-control" id="yourName"
                                            value={{value['name']}} placeholder="Name" required>
                                        {% else %}
                                        <input type="text" name="name" class="form-control" id="yourName"
                                            placeholder="Name" required>
                                        {% endif %}
                                        <div class="invalid-feedback">Please, enter your name!</div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourEmail" class="form-label">Your Email</label>
                                        {% if value!=None %}
                                        <input type="email" name="email" class="form-control" id="yourEmail"
                                            value={{value['email']}} placeholder="Email" required>
                                        {% else %}
                                        <input type="email" name="email" class="form-control" id="yourEmail"
                                            placeholder="Email" required>
                                        {% endif %}
                                        <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Username</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            {% if value!=None %}
                                            <input type="text" name="username" class="form-control" id="yourUsername"
                                                value={{value['username']}} placeholder="Username" required>
                                            {% else %}
                                            <input type="text" name="username" class="form-control" id="yourUsername"
                                                placeholder="Username" required>
                                            {% endif %}
                                            <div class="invalid-feedback">Please choose a username.</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Password</label>
                                        <input type="password" name="password" class="form-control" id="yourPassword"
                                            placeholder="Password" required>
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" name="terms" type="checkbox" value="True"
                                                id="acceptTerms" required {{'checked' if True}}>
                                            <label class="form-check-label" for="acceptTerms">I agree and accept the <a
                                                    href="#">terms and conditions</a></label>
                                            <div class="invalid-feedback">You must agree before submitting.</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Already have an account? <a href="/Login">Log
                                                in</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main><!-- End #main -->
{% endblock %}